.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 150px;
  width: 150px;
  margin-bottom: 1rem;
}

.feature__title {
  font-family: 'Signika', sans-serif;
  margin-top: 2rem;
  margin-bottom: 1.2rem;
}
